APP_NAME=Template_nest
APP_PROD=false
PORT=4000
APP_URL=http://localhost:4000

FRONTEND_URL=http://localhost:8080

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=nest
DB_USERNAME=postgres
DB_PASSWORD=admin

HASH_SALT=10
JWT_AUTH=MiclaveSecreta
JWT_RECOVERY=MiclaveSecreta